.imgAvatar{
    content: url('https://yt3.ggpht.com/ytc/AKedOLQQA-EpUFJDO9xsxK5pozcD2EXZEQKAQ0GtiHzLQA=s900-c-k-c0x00ffffff-no-rj');
    width: 50px;
}
.nameAvatar{
    font-size: 20px;
    color: blue;
}